.nav {
    /* width: 200px; */
    grid-area: n;
    background-color: chartreuse;
}
.item a {
    font-size: 30px;
    color: azure;
    text-decoration: none;

}
.item a.active{
    font-size: 30px;
    color: rgb(232, 201, 77);

}