.dialogs{
display:grid;
grid-template-columns: 1fr  7fr;
}

.dialogsItems {
padding: 10px;
}
 .dialogsItems .active {
     color: gold;
 }

.dialog{
padding: 10px;
}
.messages{
padding: 10px;
}
.message{
padding: 10px;
}